In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
CITY_DATA = { 'Chicago': 'chicago.csv',
              'new York City': 'new_york_city.csv',
              'Washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')

In [3]:
# TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs

while True:
    city=input("\nWhich City you want to choose? Chicago/New York City/Washingtone\n:")
    if city not in ('Chicago','new York City','Washington'):
        print("Invalid input.Pls try again")
        continue
    else:
        break

Which City you want to choose? Chicago/New York City/Washingtone
:Chicago

In [4]:
 #TO DO: get user input for month (all, january, february, ... , june)
    
while True:
    month= input("\nWhich month you want to choose? January/February/March/April/May/June or type 'all' if no preference\n")
    if month not in ('January','February','March','April','May','May','June','all'):
        print("Invalid input.Pls try again")
        continue
    else:
        break

Which month you want to choose? January/February/March/April/May/June or type 'all' if no preference
January

In [5]:
#TO DO: get user input for day of week (all, monday, tuesday, ... sunday)

while True:
    Day=input("\nWhich day you want to choose? Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday or 'all' if no preference\n")
    if Day not in ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','all'):
        print("Invalid input. Pls try again")
        continue
    else:
        break

Which day you want to choose? Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday or 'all' if no preference
Monday

In [6]:
print('-'*40)
print(city, month, Day)

----------------------------------------
Chicago January Monday

In [7]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

In [8]:

#load data in to dataframe
df = pd.read_csv(r'.\ud_project\{}'.format(CITY_DATA[city]))
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [9]:
# Change the start time & End Time format to date time format (yyyy-mm-dd)

df['Start Time']= pd.to_datetime(df['Start Time'])
df['End Time']=pd.to_datetime(df['End Time'])

In [10]:
# extract month and day of the week from start time and create new column

df['month']=df['Start Time'].dt.month
df['day_of_week'] = df['Start Time'].dt.weekday
print(df)

        Unnamed: 0          Start Time            End Time  Trip Duration  \
0          1423854 2017-06-23 15:09:32 2017-06-23 15:14:53            321
1           955915 2017-05-25 18:19:03 2017-05-25 18:45:53           1610
2             9031 2017-01-04 08:27:49 2017-01-04 08:34:45            416
3           304487 2017-03-06 13:49:38 2017-03-06 13:55:28            350
4            45207 2017-01-17 14:53:07 2017-01-17 15:02:01            534
...            ...                 ...                 ...            ...
299995       64825 2017-01-21 13:18:00 2017-01-21 13:27:50            590
299996      695993 2017-04-28 19:32:19 2017-04-28 19:51:18           1139
299997      159685 2017-02-12 09:59:01 2017-02-12 10:21:49           1368
299998      564681 2017-04-16 17:07:15 2017-04-16 17:19:00            705
299999     1021247 2017-05-30 12:38:28 2017-05-30 12:55:36           1028

                        Start Station                   End Station  \
0                Wood St & Hubbard St       Damen Ave & Chicago Ave
1                 Theater on the Lake  Sheffield Ave & Waveland Ave
2                  May St & Taylor St           Wood St & Taylor St
3       Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave
4              Clark St & Randolph St  Desplaines St & Jackson Blvd
...                               ...                           ...
299995        Orleans St & Elm St (*)   Sheffield Ave & Webster Ave
299996     Ashland Ave & Blackhawk St             Clark St & Elm St
299997  Ravenswood Ave & Lawrence Ave  Stockton Dr & Wrightwood Ave
299998      Sheffield Ave & Willow St        Clark St & Chicago Ave
299999      Wacker Dr & Washington St       Damen Ave & Division St

         User Type  Gender  Birth Year  month  day_of_week
0       Subscriber    Male      1992.0      6            4
1       Subscriber  Female      1992.0      5            3
2       Subscriber    Male      1981.0      1            2
3       Subscriber    Male      1986.0      3            0
4       Subscriber    Male      1975.0      1            1
...            ...     ...         ...    ...          ...
299995  Subscriber    Male      1965.0      1            5
299996    Customer     NaN         NaN      4            4
299997  Subscriber  Female      1988.0      2            6
299998    Customer     NaN         NaN      4            6
299999  Subscriber    Male      1984.0      5            1

[300000 rows x 11 columns]

In [11]:
#Filter by month 
#Defined variables

"""
    df         - City Dataframe
    time       - indicates the specified time (either "month", "day_of_month", or "day_of_week")
    month      - indicates the month used to filter the data
    week_day   - indicates the week day used to filter the data
    md         - list that indicates the month (at index [0]) used to filter the data
                    and the day number (at index [1])
"""

if time == 'month':
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
        df = df[df['month'] == month]

In [12]:
# Filter by day of week

if time == 'day_of_week':
        days = ['Monday', 'Tuesday', 
        'Wednesday', 'Thursday', 
        'Friday', 'Saturday', 'Sunday','all']
        for d in days:
            if week_day.capitalize() in d:
                day_of_week = d
        df = df[df['day_of_week'] == day_of_week]
        
if time == "day_of_month":
        months = ['january', 'february', 'march', 'april', 'may', 'june','all']
        month = md[0]
        month = months.index(month) + 1
        df = df[df['month']==month]
        day = md[1]
        df = df[df['day_of_month'] == day]
print(df)

        Unnamed: 0          Start Time            End Time  Trip Duration  \
0          1423854 2017-06-23 15:09:32 2017-06-23 15:14:53            321
1           955915 2017-05-25 18:19:03 2017-05-25 18:45:53           1610
2             9031 2017-01-04 08:27:49 2017-01-04 08:34:45            416
3           304487 2017-03-06 13:49:38 2017-03-06 13:55:28            350
4            45207 2017-01-17 14:53:07 2017-01-17 15:02:01            534
...            ...                 ...                 ...            ...
299995       64825 2017-01-21 13:18:00 2017-01-21 13:27:50            590
299996      695993 2017-04-28 19:32:19 2017-04-28 19:51:18           1139
299997      159685 2017-02-12 09:59:01 2017-02-12 10:21:49           1368
299998      564681 2017-04-16 17:07:15 2017-04-16 17:19:00            705
299999     1021247 2017-05-30 12:38:28 2017-05-30 12:55:36           1028

                        Start Station                   End Station  \
0                Wood St & Hubbard St       Damen Ave & Chicago Ave
1                 Theater on the Lake  Sheffield Ave & Waveland Ave
2                  May St & Taylor St           Wood St & Taylor St
3       Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave
4              Clark St & Randolph St  Desplaines St & Jackson Blvd
...                               ...                           ...
299995        Orleans St & Elm St (*)   Sheffield Ave & Webster Ave
299996     Ashland Ave & Blackhawk St             Clark St & Elm St
299997  Ravenswood Ave & Lawrence Ave  Stockton Dr & Wrightwood Ave
299998      Sheffield Ave & Willow St        Clark St & Chicago Ave
299999      Wacker Dr & Washington St       Damen Ave & Division St

         User Type  Gender  Birth Year  month  day_of_week
0       Subscriber    Male      1992.0      6            4
1       Subscriber  Female      1992.0      5            3
2       Subscriber    Male      1981.0      1            2
3       Subscriber    Male      1986.0      3            0
4       Subscriber    Male      1975.0      1            1
...            ...     ...         ...    ...          ...
299995  Subscriber    Male      1965.0      1            5
299996    Customer     NaN         NaN      4            4
299997  Subscriber  Female      1988.0      2            6
299998    Customer     NaN         NaN      4            6
299999  Subscriber    Male      1984.0      5            1

[300000 rows x 11 columns]

In [13]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time
    
    
# TO DO: display the most common month

popular_month=df['month'].mode()[0]
print("Most common month:", popular_month)

Most common month: 6

In [14]:
# TO DO: display the most common day of week

popular_day= df['day_of_week'].mode()[0]
print("Most Common day of week: ", popular_day)

Most Common day of week:  1

In [15]:
# TO DO: display the most common start hour

df['hour']= df['Start Time'].dt.hour
popular_hour = df['hour'].mode()[0]
print("Most common hour:", popular_hour)

Most common hour: 17

In [16]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()
    
# TO DO: display most commonly used start station
popular_start_station=df['Start Station'].value_counts().idxmax()
print("Most commonly used start station:",popular_start_station)

Most commonly used start station: Streeter Dr & Grand Ave

In [17]:
 # TO DO: display most commonly used end station

popular_end_station=df['End Station'].value_counts().idxmax
print("Most commonly used End station:", popular_end_station)

Most commonly used End station: <bound method Series.idxmax of Streeter Dr & Grand Ave         7512
Clinton St & Washington Blvd    4166
Lake Shore Dr & Monroe St       4016
Clinton St & Madison St         4014
Lake Shore Dr & North Blvd      3863
                                ...
Woodlawn Ave & 75th St             1
Seeley Ave & Garfield Blvd         1
Cicero Ave & Quincy St             1
Perry Ave & 69th St                1
Stony Island Ave & 82nd St         1
Name: End Station, Length: 572, dtype: int64>

In [18]:
 # TO DO: display most frequent combination of start station and end station trip
    
combination_Station= df.groupby(['Start Station','End Station']).count()
print("combination of start and end station:", popular_start_station," & ",popular_end_station)

combination of start and end station: Streeter Dr & Grand Ave  &  <bound method Series.idxmax of Streeter Dr & Grand Ave         7512
Clinton St & Washington Blvd    4166
Lake Shore Dr & Monroe St       4016
Clinton St & Madison St         4014
Lake Shore Dr & North Blvd      3863
                                ...
Woodlawn Ave & 75th St             1
Seeley Ave & Garfield Blvd         1
Cicero Ave & Quincy St             1
Perry Ave & 69th St                1
Stony Island Ave & 82nd St         1
Name: End Station, Length: 572, dtype: int64>

In [19]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

In [20]:
# TO DO: display total travel time

Total_travel_time = df['Trip Duration'].sum()/3600.0
print("Total travel time in hours:", Total_travel_time)

Total travel time in hours: 78019.94083333333

In [21]:
# TO DO: display mean travel time

Total_mean_time = df['Trip Duration'].mean()/3600.0
print("Total travel time in hours:",Total_mean_time)

Total travel time in hours: 0.26006646944444445

In [22]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

In [23]:
# TO DO: Display counts of user types

user_types=df['User Type'].value_counts()
print("count of user_type:", user_types)

count of user_type: Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [24]:
# TO DO: Display counts of gender

if city !='Washington':
    try:
        gender_count= df['Gender'].value_counts()
        print("Count of gender:",gender_count)

    except keyError:
    
        print("No entry. Pls try again")

Count of gender: Male      181190
Female     57758
Name: Gender, dtype: int64

In [25]:
 # TO DO: Display earliest, most recent, and most common year of birth

try:
    Earliest_yearofbirth=df['Birth Year'].min()
    print("Most earliest year of birth:",Earliest_yearofbirth)
except keyError:
    print("No entry. Pls try again")
    
try:
    recent_yearofbirth=df['Birth Year'].max()
    print("Most recent year of birth:", recent_yearofbirth)
except keyError:
    print("No entry. Pls try again")
    
try:
    common_yearofbirth=df['Birth Year'].mode()
    print("Most common year of birth:",common_yearofbirth)
except keyError:
    print("No entry. Pls try again")

Most earliest year of birth: 1899.0
Most recent year of birth: 2016.0
Most common year of birth: 0    1989.0
dtype: float64

In [26]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break